.idea
venv
*.code-workspace
__pycache__/
*.py[cod]
*.cfg

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
scripts/
var/
/migrations/0*.py
/migrations/00*.py
*.egg-info/
.installed.cfg
*.egg
data
.env
*.out
.vscode
8000
.DS_Store
static-root
*.iml
*.log
tmp*