.idea
venv
*.code-workspace
__pycache__/
*.py[cod]
*.cfg
migrations/
# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
scripts/
var/
/migrations/0*.py
/migrations/00*.py
*.egg-info/
.installed.cfg
*.egg
data
.env
*.out
.vscode
8000
.DS_Store
static-root
*.iml
*.log
tmp*



# Frontend
# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build output
build/
dist/
*.css.map
*.js.map

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/

# jest
coverage/
